nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.trade-type{
  /* Capitalise first letter of trade type*/
  text-transform: capitalize;
}

.date{
    font-size: 15px;
     /*border: 1px solid red;*/
}

.time-box{
    /* center form controls */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*border: 1px solid green;*/
}
.name-box{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    /*border: 1px solid black;*/
}
.plan-box{
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
}
.time-box1{
    border: 1px solid red;
}

.plan-buttons{
    text-align: center;
    margin: 10px;
}

.plan-header{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border: 1px solid black;
}
.remaining-time{
    font-size: 20px;
}
