{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if message %}
        <div class="alert alert-primary border text-center" role="alert">
            {{ message }}
        </div>
    {% endif %}
<h3>Historic Plans </h3> <br />
    {% for reminder in reminders %}
        {% if reminder['start_time']  %}
             <div class="plan-box">
                <div><strong>Name:</strong> {{ reminder['name'] }}</div>
                <div>
                    {% if reminder['runout']  %}
                        <div ><strong>Elapsed:</strong> <span class='remaining-time' >{{ reminder['remaining_time'] }}</span> Late</div>
                    {% else  %}
                        <div><strong>Remaining:</strong> <span class='remaining-time'>{{ reminder['remaining_time'] }}</span></div>
                    {% endif %}
                    <div><strong>Interval:</strong> {{ reminder['interval'] }} min</div>
                    <div><strong>Start:</strong> {{ reminder['start_time'] }}</div>
                    <div><strong>Expire:</strong> <span class='expire-time'>{{ reminder['next_expiration'] }}</span></div>

                    <div><strong>Notification:</strong> {{ reminder['notify_time'] }}</div>
                    <div><strong>End:</strong> {{ reminder['end_time'] }}</div>
                </div>
                <br />
                <div class="plan-buttons">
                    <a href="/plan?id={{ reminder['id'] }}">
                        <button class="btn btn-primary" type="button">
                            Details
                        </button>
                    </a>
                    <a href="/plan?reuse={{ reminder['id'] }}">
                        <button class="btn btn-primary" type="button">
                            Reuse
                        </button>
                    </a>

                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
