{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    {% if message %}
        <div class="alert alert-primary border text-center" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="plan-header">
        <span><h3>Active Plans</h3></span>
        <p>
            <span class="date1" id="current_date"></span>
            <span class="date1" id="current_time"></span>
        </p>
        <a href="/">
            <button class="btn btn-success" type="button">
                Refresh
            </button>
        </a>

    </div>
        {% for reminder in reminders %}
            {% if reminder['start_time']  %}
                <div class="plan-box">
                    <div><strong>Name:</strong> {{ reminder['name'] }}</div>
                    <div>
                        {% if reminder['runout']  %}
                            <div ><strong>Remaining:</strong> <span class='remaining-time' style="color:red;">{{ reminder['remaining_time'] }}</span> Late</div>
                        {% else  %}
                            <div><strong>Remaining:</strong> <span class='remaining-time'>{{ reminder['remaining_time'] }}</span></div>
                        {% endif %}
                        <div><strong>Interval:</strong> {{ reminder['interval'] }} min</div>
                        <div><strong>Start:</strong> {{ reminder['start_time'] }}</div>
                        <div><strong>Expire:</strong> <span class='expire-time'>{{ reminder['next_expiration'] }}</span></div>

                        <div><strong>Notification:</strong> {{ reminder['notify_time'] }}</div>
                        <div><strong>End:</strong> {{ reminder['end_time'] }}</div>
                    </div>
                    <br />
                    <div class="plan-buttons">
                        <a href="/plan?id={{ reminder['id'] }}">
                            <button class="btn btn-primary" type="button">
                                Details
                            </button>
                        </a>
                        {% if reminder['end_time'] == None  %}
                            {% if reminder['notify_time'] == None  %}
                                <a href="/?checkin={{ reminder['id'] }}">
                                    <button class="btn btn-warning" type="button">
                                        Check in
                                    </button>
                                </a>
                            {% endif  %}
                            <a href="/?stop={{ reminder['id'] }}">
                                <button class="btn btn-danger" type="button">
                                    Stop
                                </button>
                            </a>
                        {% endif  %}
                    </div>
                    <br />
                </div>
            {% else %}
                <a href="/plan">
                    <button class="btn btn-primary" type="button">
                        New Plan
                    </button>
                </a>
                <a href="/history">
                    <button class="btn btn-primary" type="button">
                        History
                    </button>
                </a>
            {% endif %}
        {% endfor %}


        <script>
            setTimeout(() => {
                milisToTime = (ms) => {
                    return new Date(ms).toISOString().substring(11,19);
                };
                let expired = document.getElementsByClassName('expire-time');
                let remaining = document.getElementsByClassName('remaining-time');

                dateStringToIsoString = (date) => {
                    date = date.replace(' ', 'T');

                    return date + '.000Z';
                };
                if(expired && remaining){
                    setInterval(() => {
                        for(let i = 0; i < expired.length; i++){
                            let item = expired[i];
                            let expireDate = new Date(dateStringToIsoString(item.textContent));

                            let isoDate = new Date();
                            let miliSeconds = (expireDate - isoDate);
                            let remainingTime = milisToTime(miliSeconds);
                            if(remainingTime === 0) window.location.reload()
                            let remainingElement = remaining[i];
                            remainingElement.innerHTML = remainingTime;
                        }
                    },1000);
                }
            },100)

        </script>

{% endblock %}
