{% extends "layout.html" %}

{% block title %}
    Plan
{% endblock %}

{% block main %}
    {% if message %}
        {{ message }}
    {% endif %}
    <form action="/plan" method="post">
        {% if reminder_id %}
        <div class="form-group">
            <p>Reminder ID</p>
            <input class="form-control" type="text" name="reminder_id" value="{{ reminder_id }}" readonly>
        </div>
        {% endif %}
        <div class="form-group">
            <p>Plan Name</p>
            <input class="form-control"  placeholder="Name" type="text" name="name" value="{{ name }}">
        </div>
        <div class="form-group">
            <p>Message</p>
            <textarea
                class="form-control"
                name="details"
                rows="4"
                cols="25"
                placeholder="Message to send"
            >{{ details }}</textarea>
        </div>
        <p>Contact Email</p>
        <div class="form-group">
            <input class="form-control" name="contacts"  placeholder="Contact email" type="email" value="{{ contacts }}">
        </div>
        <p>Time Interval</p>
        <div class="form-group">
            <input class="form-control" name="interval" type="number" min="1" placeholder="Time Interval (min)" value="{{ interval }}">
        </div>
        <a href="/">
            <button class="btn btn-primary" type="button">
                {% if reminder_id %}
                    Back
                {% else %}
                    Cancel
                {% endif %}
            </button>
        </a>
        <button class="btn btn-warning" type="submit">
        {% if reminder_id %}
            Update
        {% else %}
            Create
        {% endif %}
        </button>
        {% if reminder_id %}
        <a href="/?stop={{ reminder_id }}">
            <button class="btn btn-danger" type="button">
                Stop
            </button>
        </a>
        {% endif %}
    </form>
{% endblock %}
